// scss-lint:disable NestingDepth

// React Bootstrap may still generate '.btn-xs' (removed in BS4)
.btn-xs {
  @extend .btn-sm;
}

.btn {
  // separate icon from label (within button)
  &:not(.btn-extend) .fab,
  &:not(.btn-extend) .fas {
    &:first-child {
      margin-right: $spacer / 3;
    }

    &:last-child {
      margin-left: $spacer / 3;
    }

    &:first-child:last-child {
      margin: 0;
    }
  }
}

// new button class: matching checkbox toggle buttons with other inputs
.btn-input {
  @extend %form-control;
  text-decoration: none;
}

// new button class: icon buttons that extend to show text
.btn-extend {
  overflow: hidden;

  .fab,
  .fas {
    display: inline-block;
    margin-right: 0;
    min-width: 1em;
    transition: margin .4s;

    + span {
      display: inline-block;
      max-width: 0;
      opacity: 0;
      transition: max-width .3s ease-out, opacity .3s ease-in;
    }
  }

  &:not(.disabled):not(:disabled):hover,
  .btn-group:not(.disabled):not(:disabled) &:hover {
    .fab,
    .fas {
      margin-right: $spacer / 3;

      + span {
        max-width: 150px;
        opacity: 1;
      }
    }
  }
}
