.dropdown-menu {
  @extend %popover-panel;
  margin-bottom: $spacer / 3;
  margin-top: $spacer / 3;
}

// autosuggest
.react-autosuggest__container {
  position: relative;

  > .react-autosuggest__suggestions-container {
    @extend .dropdown-menu;
    width: 100%;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      @extend .dropdown-item;
      @extend .overflow-ellipsis;
      cursor: pointer;
    }
  }
}

.react-autosuggest__container--open {
  > .react-autosuggest__suggestions-container {
    @extend .show;
  }
}
