.navbar {
  box-shadow: $shadow-lg;

  .navbar-collapse {
    &.collapsing,
    &.show {
      display: block;
      text-align: center;
    }
  }

  &.navbar-light .navbar-nav .nav-link {
    &:hover,
    &:active,
    &:focus {
      color: $primary;
    }
  }
}
