%popover-panel {
  border: $border-width solid $popover-border-color;
  border-radius: $border-radius-lg;
  box-shadow: $popover-box-shadow;
}

%alert-in-popover {
  .alert {
    $alert-offset-x: calc(#{-$popover-body-padding-x} - #{$border-width});
    $alert-offset-y: calc(#{-$popover-body-padding-y} - #{$border-width});

    margin-left: $alert-offset-x;
    margin-right: $alert-offset-x;

    &:first-child {
      border-top-left-radius: $border-radius-lg;
      border-top-right-radius: $border-radius-lg;
      margin-top: $alert-offset-y;
    }

    &:last-child {
      border-bottom-left-radius: $border-radius-lg;
      border-bottom-right-radius: $border-radius-lg;
      margin-bottom: $alert-offset-y;
    }
  }
}

.popover {
  @extend %popover-panel;
  @extend %alert-in-popover;

  .popover-title {
    @extend .popover-header;
  }

  > .popover-body {
    @extend .popover-body;

    .popover-body {
      padding: $popover-body-padding-y 0;
    }

    .popover-header,
    .popover-footer {
      margin-left: -$popover-body-padding-x;
      margin-right: -$popover-body-padding-x;
    }

    .popover-header {
      margin-top: -$popover-body-padding-y;
    }

    .popover-footer {
      @extend .modal-footer;
      margin-bottom: -$popover-body-padding-y;
      padding: $popover-body-padding-y $popover-body-padding-x;
    }

    .v-divider {
      border-left: 1px dashed $gray-200;
    }
  }
}
