a:hover {
  text-decoration: none;
}

p > a:not(.btn) {
  &,
  &:hover {
    text-decoration: underline;
  }
}

.table {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    margin: 0;
  }
}
