body {
  $nav-height: ($nav-link-height + ($navbar-padding-y * 2));
  min-height: 100vh;
  padding: 0 0 ($nav-height + ($spacer * 5));
  position: relative;
}

footer {
  bottom: 0;
  padding-bottom: $spacer;
  padding-top: $spacer;
  position: absolute;
}

// shadows are applied to all cards (and other relevant elements),
// then removed for all those nested within a content-container (eg. a card, modal or popover).
// the goal is that only 'top-level' (floating over the page-body) elements have shadows
%card-shadow {
  box-shadow: $shadow-xl, $shadow-sm;

  @each $color, $value in $theme-colors {
    &.border-#{$color} {
      @include card-shadow-color($value);
    }
  }
}

// top-level shadows
.card {
  @extend %card-shadow;

  .card &,
  .modal &,
  .popover & {
    box-shadow: none;
  }
}

.alert {
  margin-bottom: 0;

  .close {
    line-height: .8;
  }
}

// when using '*-body' classes for padding and 'hr' for section separation
.card-body + hr,
.modal-body + hr {
  border-style: dashed;
  margin: 0;
}
