.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nowrap {
  white-space: nowrap;
}

.table--v-top tbody {
  th:not([rowspan]),
  td:not([rowspan]) {
    vertical-align: top;
  }
}

.table--v-middle tbody {
  th,
  td {
    vertical-align: middle;
  }
}

.text--v-super {
  font-size: .8em;
  margin: 0 ($spacer / 4);
  vertical-align: super;
}

.w-1 {
  white-space: nowrap;
}

.rtl {
  direction: rtl;
}

// force top-level shadow
.shadow {
  @extend %card-shadow;
}

// force hide shadow
.no-shadow {
  box-shadow: none;
}

// negative margin to offset button padding
.btn-offset {
  margin-bottom: -$input-btn-padding-y;
  margin-top: -$input-btn-padding-y;
}

.btn-offset-sm {
  margin-bottom: -$input-btn-padding-y-sm;
  margin-top: -$input-btn-padding-y-sm;
}

.btn-offset-lg {
  margin-bottom: -$input-btn-padding-y-lg;
  margin-top: -$input-btn-padding-y-lg;
}
